server_mods/*
!server_mods/.gitkeep

infrastructure/*

!infrastructure/compute.tf
!infrastructure/keys.tf
!infrastructure/network.tf
!infrastructure/provider.tf
!infrastructure/setup.sh.tfpl
!infrastructure/variables.tf

infrastructure/ter_keys/*
!infrastructure/ter_keys/.gitkeep
